*{
    margin: 0;
    font-family: sans-serif;
}
.box1{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #2947A9;

}
.box2{
    display: flex;
    gap: 30px;
}
.glav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding-left: 35px;
   padding-right: 35px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.glav2{
    height: 500px;
    width: 100%;
    background-image: url(./522e6a5f380cba7232041d621d835a77aaeaf072.jpg);
    background-size: cover;
    margin: auto;
    

}.but{
    background-color: #292E3D;
  
    align-items: center;
    padding:5px 40px;
    border: none;
    color: white;
    width: 200px;
}
.box3{
    background-color: #3559C7;
    padding: 20px;
    width: 263px;
    text-align: center;
    color: white;
}
.buts{
  display: flex;
  gap: 3px;
}
.links{
    padding-top: 200px;
}
.box4{
     padding-top: 38px;
    padding-left:71%;
    width: 303px;
   
}
.tab1{
    padding: 10px;
    width: 230px;
    border: 1px solid grey;
    border-radius: 5px;

}
.tab1 p{
    color: grey;
    padding-top: 20px;
}
.tab1 h5{
    padding-top: 20px;
}
.alltab{
    display: flex;
    justify-content: space-evenly;
   
}
.h1{
    text-align: center;
    padding: 60px;
}
.img1{
    width: 700px;
    height: 450px;
}
.glav3{
    display: flex;
    margin-top: 160px;
   padding-left: 35px;
    color: white;
 
}
.linkblue{
   
    background-color: #2947A9;
       padding: 20px;
       height: 340px;
       border-radius: 5px;
       position: relative;
       right: 150px;
       top: 35px;
}
.btm{
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   color: #2947A9;
   margin-top: 50px;
}
.gridd{
    display: grid;
    grid-template-columns: repeat(3,220px);
    grid-template-rows: 150px 150px;
    
    justify-content: space-evenly;
    gap: 50px;
    background-color: rgb(230, 230, 230);
    padding: 20px;
}
.dv1{
      background-color:#2947A9;
      border-radius: 5px ;
      display: block;
      justify-content: center;
      padding-top: 35px;
      text-align: center;
      color: white;
      box-shadow: 0px 0px 2px black;
}
.dv1 img{
    border-bottom: 2px solid white;
    padding-bottom: 15px;
    
}
.dv2{
   
   background-color:white;
      border-radius: 5px ;
      display: block;
      justify-content: center;
      padding-top: 35px;
      text-align: center;
      color:#2947A9 ; 
      box-shadow: 0px 0px 2px black;
   
}
.dv2 img{
    border-bottom: 2px solid #2947A9;
    padding-bottom: 15px;
    
}
.dv1 .dv2 h4{
   padding-top: 15px;
}
.pop{
    border-left: 5px solid orangered;
    padding-left: 10px;
}
.hop{
    width: 200px;
    
    padding: 15px;
    border-radius: 4px;
   
}
.glav4{
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    align-items: center;
    margin-bottom: 100px;
}
.year30{
    width: 230px;
    
}
.btt{
    width: 140px;
    padding: 10px 15px;
    margin-top: 30px;
    border: none;
    background-color: #2947A9;
    color: white;
    border-radius: 2px;
}
.imm1{
    position: relative;
    top: 20px;
    left: -30px;
}
.second{
    position: relative;
    top: -40px;
    left: -120px;
}
.first{
   position: relative;
   top: 100px;
   left: 50px;
}
.imm2{
    position: relative;
    left: 230px;
    top: 60px;
}
.hoh{
    position:relative;
    top: -100px;
    right: 180px;
}
.immm{
  right: -100px;

}
.forever{
  
    height: 180px;
    background-image: url(./f00572a9e4c1d924a7af45ea22ff31a554b4eee0.jpg);
    background-size: cover;
 
    display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.nomer{
    text-decoration: underline;
}
.get{
  border: 2px solid white;
 padding: 10px 20px;
}
.stl{
background-color: #2947A9;
width: 300px;
color: white;
margin-bottom: 30px;

}
.top1{
  width: 300px;
  height: 150px;

}
.freez{
    display: flex;
    gap: 30px;
    
}
.dot{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgb(210, 210, 210);
}
.dot1{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color:#2947A9;
}
.dots{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.butr{
    background-color: #292E3D;
  
    align-items: center;
    padding:5px 40px;
    border: none;
    color: white;
    width: 215px;
}
.alldiv{
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
.h4{
    color: #2947A9;
    border-left: 5px solid  #2947A9;
    padding-left: 10px;
}
.com{
    color: grey;
    padding-top: 15px;
}
.tema1{
    text-align: center;
   margin-top: 50px;
   
}
.form2{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
}
.in{
    height: 20px;
    width: 200px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 5px;
}
.ip{
    height: 32.5px;
    width: 212px;
        background-color: white;
        border: 1px solid grey;
            border-radius: 2px;
            padding: 5px;


}
.sss{
   width: 405px;
   height: 100px;
       background-color: white;
       border: 1px solid grey;
           border-radius: 2px;
           padding: 10px;


}
.formss{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #F6F8F7;
    padding: 20px;
}
.icons{
    display: flex;
    gap: 20px;
}
.bb{
    margin-top: 25px;
}
.box12{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #2947A9;
    margin-top: 25px;

}
.last2{
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
.last3{
    width: 180px;
    height: 20px;
    border: 1px solid rgb(235, 235, 235);
    padding: 5px;
}
.last4{
    
    height: 32px;
    width: 100px;
    background-color: #F9995D;
    color: white;
    border: none;
    border-radius: 3px;
}
.end{
  background-color:#2947A9;
}